.btn-loader 
{
    width: 70px;
}

.d-none
{
    display: none;
    transition: 0.2 all;
}

.d-block 
{
    display: block;
    transition: 0.2 all;
}

.center
{
    text-align: center;
}

.box-img{
    width: 300px;
    height: auto;
}

.box-img img 
{
    width: 100%;
    
}

.msg-alert{
    margin-top: 10px;
}

.image, .ark{
    width: 100%;
    /* height: 122px; */
}

.ark-text, .img-text{
    overflow: hidden;
}


